<div class="wrapper fadeInDown">

    <div id="formContent">
      <!-- Tabs Titles -->
     
      <!-- Icon -->
      <div class="fadeIn first">
        <img class="img-ico"  src="./assets/img/logo2.png" alt="">
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="placaForm" (ngSubmit)="consulta()">
        <input type="text" id="usuario" formControlName="placa" class="fadeIn second" placeholder="Placa">
        <br>
        <span class="text-danger"
        *ngIf="placaForm.get('placa')?.touched">
        La placa  <strong>es requerida.</strong>
        </span>
        <br>
        <input  type="submit" [disabled]='placaForm.invalid' class="fadeIn fourth btn" value="Consultar" > 
      </form>
  
      <!-- Remind Passowrd -->
     <!--  <div id="formFooter">
     <a class="underlineHover" href="#">Olvido su contraseña?</a> 
      </div> -->
  
    </div>
  </div>