<div class="main-content">
  <div class="container-fluid">
    <!-- formulario principal socios -->
    <div class="card">
      <div class="header">Reportes Socios</div>
      <div class="content table-responsive table-full-width">
        <div class="container-fluid">
          <button
            class="btn btn-secondary btn-fill"
            (click)="open(modalListadoSocios)"
          >
            <i class="pe-7s-display1"></i> Todos los socios
          </button>
          <button
            class="btn btn-secondary btn-fill"
            (click)="open(modalListadoSociosSinMora)"
          >
            <i class="pe-7s-display1"></i> Socios sin mora
          </button>
          <button
            class="btn btn-secondary btn-fill"
            (click)="open(modalListadoSociosMora)"
          >
            <i class="pe-7s-display1"></i> Socios con mora
          </button>
          <button
            class="btn btn-secondary btn-fill"
            (click)="open(modalListadoSociosInactivos)"
          >
            <i class="pe-7s-display1"></i> Socios inactivos
          </button>
          <button
            class="btn btn-secondary btn-fill"
            (click)="open(modalListadoSociosActivos)"
          >
            <i class="pe-7s-display1"></i> Socios activos
          </button>
        </div>
      </div>
    </div>
   
  </div>
</div>
<ng-template #modalListadoSocios let-modal>
  <div class="main-content">
    <div class="container-fluid">
      <div class="modal-header">
        <button
          class="btn col col-lg-4 btn-danger btn-block ml-4"
          (click)="getPDF()"
          *ngIf="socios.length > 0"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="cerrarModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body canvas_div_pdf">
        <div class="">
          <div class="container">
            <div class="row">
              <div id="htmlData">
                <div class="row">
                  <div class="col-md-3" style="position: relative">
                   
                  </div>
                  <div class="col-md-6">
                    <div style="text-align: center">
                      <h6>JUNTA ADMINISTRATIVA DE AGUA POTABLE HUAMBALO</h6>
                      <h6>CACERIO LA MERCED</h6>
                      <h6>PROVINCIA DE TUNGURAHUA</h6>
                      <H6>Dirección: Cacerío La Merced via a Surangay s/n</H6>
                      <h6>Cel:09977762490 * SAN PEDRO DE PELILEO - ECUADOR</h6>
                      <h6>Listado de socios</h6>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>

                <div
                  class="table-responsive table-full-width"
                  style="text-align: center"
                  *ngIf="socios.length === 0"
                >
                  <img src="assets/img/no-documentos.png" alt="" />
                  <br />
                  <label>No se encontraron registros</label>
                </div>
                <table
                  class="table table-bordered"
                  *ngIf="socios.length > 0"
                >
                  <tr class="table-primary">
                    <th *ngFor="let encabezado of encabezadosSocios">
                      {{ encabezado }}
                    </th>
                  </tr>
                  <tr *ngFor="let socio of socios; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ socio.codigo }}</td>
                    <td>{{ socio.cedula }}</td>
                    <td>{{ socio.nombres }}</td>
                    <td>{{ socio.apellidos }}</td>
                    <td>{{ socio.direccion }}</td>
                    <td>{{ socio.telefono }}</td>
                    <td>
                      <label *ngIf="socio.alcantarillado">Si</label>
                      <label *ngIf="!socio.alcantarillado">No</label>
                    </td>
                    <td *ngIf="socio.estado">Activo</td>
                    <td *ngIf="!socio.estado">Inactivo</td>
                    <td>{{ socio.tipo_medidor }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalListadoSociosInactivos let-modal>
  <div class="main-content">
    <div class="container-fluid">
      <div class="modal-header">
        <button
          class="btn col col-lg-4 btn-danger btn-block ml-4"
          (click)="getPDF()"
          *ngIf="sociosInactivos.length > 0"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="cerrarModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body canvas_div_pdf">
        <div class="">
          <div class="container">
            <div class="row">
              <div id="htmlData">
                <div class="row">
                  <div class="col-md-3" style="position: relative">
                   
                  </div>
                  <div class="col-md-6">
                    <div style="text-align: center">
                      <h6>JUNTA ADMINISTRATIVA DE AGUA POTABLE HUAMBALO</h6>
                      <h6>CACERIO LA MERCED</h6>
                      <h6>PROVINCIA DE TUNGURAHUA</h6>
                      <H6>Dirección: Cacerío La Merced via a Surangay s/n</H6>
                      <h6>Cel:09977762490 * SAN PEDRO DE PELILEO - ECUADOR</h6>
                      <h6>Listado de socios inactivos</h6>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div
                  class="table-responsive table-full-width"
                  style="text-align: center"
                  *ngIf="sociosInactivos.length === 0"
                >
                  <img src="assets/img/no-documentos.png" alt="" />
                  <br />
                  <label>No se encontraron registros</label>
                </div>
                <table
                  class="table table-bordered mt-4"
                  *ngIf="sociosInactivos.length > 0"
                >
                  <tr class="table-primary">
                    <th *ngFor="let encabezado of encabezadosSocios">
                      {{ encabezado }}
                    </th>
                  </tr>
                  <tr *ngFor="let socio of sociosInactivos; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ socio.codigo }}</td>
                    <td>{{ socio.cedula }}</td>
                    <td>{{ socio.nombres }}</td>
                    <td>{{ socio.apellidos }}</td>
                    <td>{{ socio.direccion }}</td>
                    <td>{{ socio.telefono }}</td>
                    <td>
                      <label *ngIf="socio.alcantarillado">Si</label>
                      <label *ngIf="!socio.alcantarillado">No</label>
                    </td>
                    <td *ngIf="socio.estado">Activo</td>
                    <td *ngIf="!socio.estado">Inactivo</td>
                    <td>{{ socio.tipo_medidor }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalListadoSociosActivos let-modal>
  <div class="main-content">
    <div class="container-fluid">
      <div class="modal-header">
        <button
          class="btn col col-lg-4 btn-danger btn-block ml-4"
          (click)="getPDF()"
          *ngIf="sociosActivos.length > 0"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="cerrarModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body canvas_div_pdf">
        <div class="">
          <div class="container">
            <div class="row">
              <div id="htmlData">
                <div class="row">
                  <div class="col-md-3" style="position: relative">
                   
                  </div>
                  <div class="col-md-6">
                    <div style="text-align: center">
                      <h6>JUNTA ADMINISTRATIVA DE AGUA POTABLE HUAMBALO</h6>
                      <h6>CACERIO LA MERCED</h6>
                      <h6>PROVINCIA DE TUNGURAHUA</h6>
                      <H6>Dirección: Cacerío La Merced via a Surangay s/n</H6>
                      <h6>Cel:09977762490 * SAN PEDRO DE PELILEO - ECUADOR</h6>
                      <h6>Listado de socios activos</h6>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div
                  class="table-responsive table-full-width"
                  style="text-align: center"
                  *ngIf="sociosActivos.length === 0"
                >
                  <img src="assets/img/no-documentos.png" alt="" />
                  <br />
                  <label>No se encontraron registros</label>
                </div>
                <table
                  class="table table-bordered mt-4"
                  *ngIf="sociosActivos.length > 0"
                >
                  <tr class="table-primary">
                    <th *ngFor="let encabezado of encabezadosSocios">
                      {{ encabezado }}
                    </th>
                  </tr>
                  <tr *ngFor="let socio of sociosActivos; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ socio.codigo }}</td>
                    <td>{{ socio.cedula }}</td>
                    <td>{{ socio.nombres }}</td>
                    <td>{{ socio.apellidos }}</td>
                    <td>{{ socio.direccion }}</td>
                    <td>{{ socio.telefono }}</td>
                    <td>
                      <label *ngIf="socio.alcantarillado">Si</label>
                      <label *ngIf="!socio.alcantarillado">No</label>
                    </td>
                    <td *ngIf="socio.estado">Activo</td>
                    <td *ngIf="!socio.estado">Inactivo</td>
                    <td>{{ socio.tipo_medidor }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div></div>
      </div>
    </div>
  </div>
</ng-template>